@tailwind base;
@tailwind components;
@tailwind utilities;

.poster--body {
    color: #000;
    /* background */
    background-color: #fff;
    background-image: url("src/images/newyear.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
