@tailwind base;
@tailwind components;
@tailwind utilities;

/* Timer*/
.timer--body{
    color: #fff;
    /* background */
    background-image: url("src/images/Holiday Lights.jpeg");
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}

.star--logo{
    filter: drop-shadow(0px 0px 20px yellow)
}


/* Countdown */
.countdown--body{
    color: #000;
    /* background */
    background-image: url("src/images/Christmas background with fir branches and gifts vector image on VectorStock.jpeg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.rotate--circle{
    animation: anim 10s linear infinite;
}
@keyframes anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Poster */
.poster--body {
    background-color: #000;
    color: #fff;
}

