@tailwind base;
@tailwind components;
@tailwind utilities;

/* Timer Styling*/
.timer--body{
    color: #fff;
    background-image: url("src/images/Holiday Lights.jpeg");
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}

.star--logo{
    filter: drop-shadow(0px 0px 20px yellow);
}

.spinning--star{
    animation: flip 30s linear infinite;
}
@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

/* Countdown Styling*/
.countdown--body{
    color: #000;
    background-image: url("src/images/Christmas background with fir branches and gifts vector image on VectorStock.jpeg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.rotate--circle{
    transform: rotate(360deg);
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Poster Styling*/
.poster--body {
    color: #000;
    /* background */
    background-color: #fff;
    background-image: url("src/images/newyear.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
